@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F2F4F5;
}

.portrait {
  width: calc(100% - 2rem);
}
.portrait img,
.portrait picture * {
  @apply object-none object-bottom rounded-b-full !important
}